---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const base = import.meta.env.BASE_URL;

//fetch and sorttutorials (by date)
const allTutorials = await getCollection('tutorials');
const recentTutorials = allTutorials
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 5); //show 5 recent

//fetch and sort the goods (alphabetic)
const allGoods = await getCollection('goods');
const sortedGoods = allGoods.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<BaseLayout title="Home">
  <div class="index-content">
    <div>
    </div>
    <h1>Reaper's Haven</h1>
    <p>the collection of goods: websites, apps, guides, indexes...</p>
    <p>I CANNOT GUARANTEE THAT THE CONTENT IS WORKING, ISN"T OUTDATED OR DOESN'T HAVE MISTAKES. USE AT YOUR OWN RISK, TRIPLE CHECK EVERYTHING. THIS WEBSITE IS SIMPLY ARCHIVE OF FOSS, OSS AND PROPERTARY SOFTWARE IN DIFFERENT FIELDS.</p>

    <!-- RECENT TUTORIALS SECTION -->
    <h2>Recent Tutorials</h2>
    <ul class="clean-list">
      {recentTutorials.map((tutorial) => (
        <li>
          <a href={`${base}/tutorials/${tutorial.id}`}>{tutorial.data.title}</a>
          <span class="meta-tag">
            {tutorial.data.date.toISOString().slice(0, 10)} 
            [{tutorial.data.category.toUpperCase()}]
          </span>
        </li>
      ))}
    </ul>

    <!-- GOODS SECTION -->
    <h2>The Goods Directory</h2>
    <ul class="clean-list">
      {sortedGoods.map((good) => (
        <li>
          <a href={`${base}/goods/${good.id}`}>{good.data.title}</a>
          <span class="meta-tag">- {good.data.description}</span>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>