---
import { getCollection } from 'astro:content';
import '../styles/global.css';

const { title } = Astro.props;
const base = import.meta.env.BASE_URL;

//fetch and map everything for search script to read
const allTutorials = await getCollection('tutorials');
const allGoods = await getCollection('goods');
const combined_items = [...allGoods, ...allTutorials];

const search_list = combined_items.map((item)=> {
    return {
        title: item.data.title,
        url: `${base}/${item.collection}/${item.id}`,
        content: item.body
}})
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | Reaper's Haven</title>

</head>
<body>
    <nav class="main-nav">
        <a href=`${base}/`>[home]</a>
        <a href={`${base}/tutorials`}>[ALL TUTORIALS]</a>
        <a href={`${base}/goods`}>[ALL GOODS]</a>
        <!-- search stuff -->
        <button id="open-search-btn">[SEARCH]</button>
        <button id="toggle-telemetry-btn" class="telemetry-toggle">
            [ISSUE REPORT: ON]
        </button>
        <hr />
    </nav>

    <!-- SEARCH MODAL  -->
    <dialog id="search-modal" data-searchlist={JSON.stringify(search_list)}>
        <div class="modal-content">
        <button class="close-btn" id="close-search-btn">[X]</button>
        <h2>Search the haven...</h2>
        
        <input type="text" id="search-input" placeholder="type to search" />
        <ul id="search-results" class="clean-list"></ul>
        </div>
    </dialog>

    <slot />
    
</body>

<script>
    import "../scripts/search";
    document.addEventListener('DOMContentLoaded', () => {
        const codeBlocks = document.querySelectorAll('pre'); //codeblock is with pre tag.

        codeBlocks.forEach((block) => {
        //create button
        const button = document.createElement('button');
        button.className = 'copy-btn';
        button.innerText = 'COPY';

        // add it to <pre> block
        block.appendChild(button);

        //click event
        button.addEventListener('click', async () => {
            const code = block.querySelector('code')?.innerText || '';
            
            try {
            //write to clipbord
            await navigator.clipboard.writeText(code);
            
            //visual feedback
            button.innerText = 'COPIED!';
            button.style.background = 'var(--accent)';
            button.style.color = 'var(--bg)';

            //then reset 2 secs later
            setTimeout(() => {
                button.innerText = 'COPY';
                button.style.background = 'transparent';
                button.style.color = 'var(--accent)';
            }, 2000);
            }
            catch (err) {
            console.error('Failed to copy text: ', err);
            button.innerText = 'ERROR';
            }
        });
        });
    });
</script>

</html>